@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8D99AE;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #37515F;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8D99AE #f1f1f1;
}